<% layout('../layout.html') %>
<% block('title', 'Users') %>
<% block('subtitle', 'User Management') %>

<% if (flash.success) { %>
  <div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.success[0] %></h4>
    <%- flash.success[1] %>
  </div>
<% } %>

<% if (flash.error) { %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.error[0] %></h4>
    <%- flash.error[1] %>
  </div>
<% } %>

<a href="<%= newUserPath() %>" class="btn btn-small btn-success pull-right" style="margin: 1em 0"><i class="icon-plus icon-white"></i> Add new user</a>
<div style="clear:both"></div>
<% if (! users.length) { %>
  <div class="alert alert-block alert-error">
    <h4>Whoa!</h4>
    There aren't any users to show you! But don't worry, you can create one using that big green button on the right.
  </div>
<% } else { %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
       <div class="table-responsive">
          <table class="table table-bordered table-hover tablesorter">
            <thead>
              <th>Username<i class="icon-sort"></i></th>
              <th>Password<i class="icon-sort"></i></th>
              <th>First Name<i class="icon-sort"></i></th>
              <th>Last Name<i class="icon-sort"></i></th>
            </thead>
            <tbody>
              <% users.forEach(function(user) { %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.password %></td>
                  <td><%= user.firstname %></td>
                  <td><%= user.lastname %></td>
                  <td><a href="<%= editUserPath(user.id) %>" class="btn btn-inverse">Edit</a></td>
                  <td><a href="#" data-id="<%= user.id %>" class="btn btn-inverse delete-user-path">Delete</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
       </div>
      </div>
  </div>
<% } %>
