<% layout('../layout.html') %>
<% block('title', 'domains') %>
<% block('subtitle', 'Domain Management') %>

<% if (flash.success) { %>
  <div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.success[0] %></h4>
    <%- flash.success[1] %>
  </div>
<% } %>

<% if (flash.error) { %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.error[0] %></h4>
    <%- flash.error[1] %>
  </div>
<% } %>

<a href="<%= newDomainPath() %>" class="btn btn-small btn-success pull-right" style="margin: 1em 0"><i class="icon-plus icon-white"></i> Add new Domain</a>
<div style="clear:both"></div>
<% if (! domains.length) { %>
  <div class="alert alert-block alert-error">
    <h4>Whoa!</h4>
    There aren't any domains to show you! But don't worry, you can create one using that big green button on the right.
  </div>
<% } else { %>
  <div class="container">
    <table class="table table-striped table-bordered table-hover">
      <thead>
           <th>registrar</th>
            <th>action</th>
            <th>renewed</th>
            <th>price</th>
            <th>domain</th>
            <th>expiry</th>
            <th>registrant</th>
            <th>registrant_email</th>
            <th>contact_name</th>
            <th>address1</th>
            <th>address2</th>
            <th>address3</th>
            <th>city</th>
            <th>county</th>
            <th>postcode</th>
            <th>country</th>
            <th>DNS0</th>
            <th>DNS1</th>
            <th>DNS12</th>
      </thead>
      <tbody>
        <% domains.forEach(function(Domain) { %>
          <tr>
            <td><%= domains.registrar %></td>
            <td><%= domains.action %></td>
            <td><%= domains.renewed %></td>
            <td><%= domains.price %></td>
            <td><%= domains.domain %></td>
            <td><%= domains.expiry %></td>
            <td><%= domains.registrant %></td>
            <td><%= domains.registrant_email %></td>
            <td><%= domains.contact_name %></td>
            <td><%= domains.address1 %></td>
            <td><%= domains.address2 %></td>
            <td><%= domains.address3 %></td>
            <td><%= domains.city %></td>
            <td><%= domains.county %></td>
            <td><%= domains.postcode %></td>
            <td><%= domains.country %></td>
            <td><%= domains.DNS0 %></td>
            <td><%= domains.DNS1 %></td>
            <td><%= domains.DNS12 %></td>
            <td><a href="<%= editdomainPath(domains.id) %>" class="btn btn-inverse">Edit</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
<% } %>
