<% layout('../layout.html') %>
<% block('title', 'Domains') %>
<% block('subtitle', 'Domain Management') %>

<% if (flash.success) { %>
  <div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.success[0] %></h4>
    <%- flash.success[1] %>
  </div>
<% } %>

<% if (flash.error) { %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.error[0] %></h4>
    <%- flash.error[1] %>
  </div>
<% } %>

<a href="<%= newDomainPath() %>" class="btn btn-small btn-success pull-right" style="margin: 1em 0"><i class="icon-plus icon-white"></i> Add new Domain</a>
<div style="clear:both"></div>
<% if (! domains.length) { %>
  <div class="alert alert-block alert-error">
    <h4>Whoa!</h4>
    There aren't any domains to show you! But don't worry, you can create one using that big green button on the right.
  </div>
<% } else { %>
  <div class="container">
   <div class="row">
    <div class="col-lg-12">
       <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter ">
               <thead>
                    <th>Registrar <i class="icon-sort"></i></th>
                     <th>Client <i class="icon-sort"></i></th>
                     <th>Price Per Year <i class="icon-sort"></i></th>
                     <th>Domain <i class="icon-sort"></i></th>
                     <th>Expiry Date <i class="icon-sort"></i></th>
                     <th>Renew For <i class="icon-sort"></i></th>
               </thead>
               <tbody>
                 <% domains.forEach(function(domain) { 
                    var now      = new Date();
                    now          = now.setMonth(now.getMonth()+1);
                    var  expdate = Math.floor((domain.expiry-now)/(1000*60*60*24));

                  %>

                   <tr>
                     <td><%= domain.registrar %></td>
                     <td><%= domain.client %></td>
                     <td>£ <%= domain.price %></td> 
                     <td><%= domain.domain %></td>
                     <td><%= domain.expiry.format() + ' ('+ expdate+')' %></td>
                     <td><%= domain.renew %> years</td>            
                     <td><a href="<%= editDomainPath(domain.id) %>" class="btn btn-inverse">Edit</a></td>
                     <td><a href="#" data-id="<%= domain.id %>" class="btn btn-inverse delete-domain-path">Delete</a></td>
                     <td><a href="#" data-id="<%= domain.id %>" class="btn btn-inverse invoiced-domain-path">Invoiced <input type="checkbox" name="vehicle" value="Invoiced"></a></td>
                     <td><a href="#" data-id="<%= domain.id %>" class="btn btn-inverse paid-domain-path">Paid <input type="checkbox" name="vehicle" value="Paid"></a></td>
                     <td><a href="#" data-id="<%= domain.id %>" class="btn btn-inverse renewed-domain-path">Renewed <input type="checkbox" name="vehicle" value="Renewed"></a></td>
                   </tr>
                 <% }) %>
               </tbody>   
         </table>
       </div>
       </div>
     </diV>
  </div>
<% } %>
