<% layout('../layout.html') %>
<% block('title', 'Domains') %>
<% block('subtitle', 'Domain Management') %>

<% if (flash.success) { %>
  <div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.success[0] %></h4>
    <%- flash.success[1] %>
  </div>
<% } %>

<% if (flash.error) { %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%- flash.error[0] %></h4>
    <%- flash.error[1] %>
  </div>
<% } %>

<div class="group-buttons">
  <a href="<%= newDomainPath() %>" class="btn btn-small btn-success pull-right" style="margin: 1em 0"><i class="icon-plus icon-white"></i> Add new Domain</a>
  <a href="#" class="btn btn-small btn-success pull-right" style="margin: 1em 0; margin-right: 20px;" data-toggle="modal" data-target=".uploadModal"><i class="icon-level-up icon-white"></i> Upload Domains</a>
  <a href="#" class="btn btn-small btn-success pull-right" style="margin: 1em 0; margin-right: 20px;" data-toggle="modal" data-target=".downloadModal"><i class="icon-level-down icon-white"></i> Download Domains</a>
</div>
<!--Upload Modal -->
<div class="modal fade uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Domains</h4>
      </div>
      <div class="modal-body">
       <div class="message-upload" data-toggle="message"></div>
          <form  method="post", enctype="multipart/form-data" name='uploadform' id='uploadform'>
        <div class="form-group">
          <label>Upload File</label>
          <input type="file" accept=".csv" name="csvupload" class="form-control upload">
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary uploadDomain">Upload Domains</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Download Modal -->
<div class="modal fade downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download Domains</h4>
      </div>
      <div class="modal-body">
        <div class="message-download" data-toggle="message"></div>
          <form>
        <div class="form-group">
          <label>Download File</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="domains/export"><button type="button" class="btn btn-primary downloadDomain">Download Excel File</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div style="clear:both"></div>
<% if (! domains.length) { %>
  <div class="alert alert-block alert-error">
    <h4>Whoa!</h4>
    There aren't any domains to show you! But don't worry, you can create one using that big green button on the right.
  </div>
<% } else { %>
  <div class="container">
   <div class="row">
    <div class="col-lg-12">
       <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter ">
               <thead>
                    <th>Registrar <i class="icon-sort"></i></th>
                     <th>Client <i class="icon-sort"></i></th>
                     <th>Price Per Year <i class="icon-sort"></i></th>
                     <th>Domain <i class="icon-sort"></i></th>
                     <th>Expiry Date <i class="icon-sort"></i></th>
                     <th>Renew For <i class="icon-sort"></i></th>
                     <th></th>
                     <th></th>
                     <th>Invoiced</th>
                     <th>Paid</th>
                     <th>Renewed</th>
                     <th>Action</th>
               </thead>
               </thead>
               <tbody>
                 <% domains.forEach(function(domain) { 
                    var now      = new Date();
                    now          = now.setMonth(now.getMonth());
                    var  expdate = Math.floor((domain.expiry-now)/(1000*60*60*24));
                  %>
                  <% if(expdate<31) {%>
                   <tr class="danger-cat" data-id="<%= domain.id %>">
                    <% }else if(expdate<46){ %>
                    <tr class="warning-cat" data-id="<%= domain.id %>">
                      <% }else{ %>
                    <tr class="chill" data-id="<%= domain.id %>">
                     <% } %>
                       <% var registrar = ''
                          if(domain.registrar == 'Nominet')
                            registrar = "https://secure.nominet.org.uk/auth/login.html";
                          if(domain.registrar == 'Network Solutions')
                            registrar = 'https://www.networksolutions.com/manage-it/index.jsp';
                          if(domain.registrar == 'namesco')
                            registrar ='https://admin.names.co.uk/login.php?uri=%2F';
                          if(domain.registrar == 'Central Nic')
                            registrar ='https://manage.centralnic.com/';
                          
                  %>
                     <td><a href="<%= registrar %>" target="_blank"><%= domain.registrar %></a></td>
                     <td><%= domain.client %></td>
                     <td>£ <%= domain.price %></td> 
                     <td><a href="http://www.<%= domain.domain %>" target="_blank"><%= domain.domain %></a></td>
                     <td>
                       <% if(domain.expiry != 'Invalid Date' && domain.expiry != null ){ %>
                     <span class="expiry-date"> <%= domain.expiry.format() + ' ('+ expdate+')' %></span>
                     <% } else{ %>
                     <span class="expiry-date">none</span>
                     <% } %>
                    </td>
                     <td><%= domain.renew %> years</td>            
                     <td><a href="<%= editDomainPath(domain.id) %>" class="btn btn-inverse">Edit</a></td>
                     <td><a href="#" data-id="<%= domain.id %>" class="btn btn-inverse delete-domain-path">Delete</a></td>

                     <td>
                      <input class="invoiced" type="checkbox"  value="Invoiced">
                       <% if(domain.invoiced != 'Invalid Date' && domain.invoiced != null  ){ %>
                      <span class="invoiced-date"><%=  domain.invoiced.format() %></span>
                      <% } else{ %>
                      <span class="invoiced-date"></span>
                      <% } %>
                    </td>
                     <td>
                      
                      <input class="paid" type="checkbox"  value="Paid">
                      <% if(domain.paid != 'Invalid Date' && domain.paid != null ){ %>
                      <span class="paid-date"><%=  domain.paid.format() %></span>
                      <% } else{ %>
                      <span class="paid-date"></span>
                      <% } %>

                    </td>
                     <td>
                      <input class="renewed" type="checkbox"  value="Renewed">
                       <% if(domain.renewed != 'Invalid Date' && domain.renewed != null  ){ %>
                      <span class="renewed-date"><%=  domain.renewed.format() %></span>
                      <% } else{ %>
                      <span class="renewed-date"></span>
                      <% } %>
                    </td>
                      <td>
                       <div class="mode-show ">
                        <% if(domain.action != ''  ){ %>
                       <span class="action-out action"><%=domain.action %></span> <div class="corner action"><i class="icon-edit icon-white"></i></div>
                       <% } else{ %>
                       <span class="action-out action">No Action!</span> <div class="corner action"><i class="icon-edit icon-white"></i></div>
                       <% } %>
                       <!-- <a href='#' class="btn btn-small btn-primary action "><i class="icon-edit icon-white"></i> Edit Text</a> -->
                      </div>
                      <div class="mode-edit">
                          <% if(domain.action != ''  ){ %>
                            <textarea class="textbox" rows="4" cols="50"><%=  domain.action %></textarea> 
                          <% } else{ %>
                              <textarea class="textbox" rows="4" cols="50">No Action!</textarea>
                           <% } %>
                      
                        <a href="#" class="btn btn-small btn-success save-text"><i class="icon-save icon-white"></i> Save</a>
                      </div>
                    </td>

                   </tr>
                 <% }) %>
               </tbody>   
         </table>
       </div>
       </div>
     </diV>
  </div>
<% } %>
